@font-face{
    font-family: 'Montserrat-Bold';
    src: url('/Font_family/Montserrat-Bold.ttf') format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(Font_family/Montserrat-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: 'ProstoOne-Regular';
    src: url(Font_family/ProstoOne-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(Font_family/Montserrat-Medium.ttf) format(truetype);
    font-weight: 500;
}